#load ./Tools/GlobalSettings/Addins.cake

Environment.SetVariableNames();

BuildParameters.SetParameters(
	context: Context,
	buildSystem: BuildSystem,
	title: "%Main_Project_Name%",
	shouldRunDupFinder: false
);

BuildParameters.PrintParameters(Context);

ToolSettings.SetToolSettings(context: Context);
